# Visual Studio Project files
#########################
*.ncb
*.suo
*.bak
leon3.vcproj.*.user
ProjectFiles2005/debug/
ProjectFiles2005/libleon/debug/
ProjectFiles2010/
source/firmware/makefiles/
source/firmware/HelloWorld/target_VIRTEX_ML605
source/firmware/GNSS_FW/
