# Visual Studio Project files
#########################
*.ncb
*.suo
*.bak
leon3.vcproj.*.user
ProjectFiles2005/debug/
ProjectFiles2005/libleon/debug/
ProjectFiles2010/
svn_cli/
#
# All proprietary modules placed in folders */products/
#
vhdl/gnsslib/products/
source/lib/leon3_ml605/gnss/products/
source/firmware/products/
#
# Compilation output files
#
source/firmware/HelloWorld/target_VIRTEX_ML605
source/firmware/HelloWorld/target_PC_SIMULATION
