NET "inSysClk_p" TNM_NET = TNM_SysClk;
TIMESPEC "TS_SysClk" = PERIOD "TNM_SysClk" 5 ns ;
NET  "inSysClk_p"   IOSTANDARD = LVDS_25;
NET  "inSysClk_n"   IOSTANDARD = LVDS_25;
NET  "inSysClk_p"   LOC = "J9";
NET  "inSysClk_n"   LOC = "H9";

# ADC samples:
NET "inAdcClk" LOC = "E32";
NET "inIa[1]" LOC = "P32";
NET "inIa[0]" LOC = "N34";
NET "inQa[1]" LOC = "P30";
NET "inQb[0]" LOC = "N32";
NET "inIb[1]" LOC = "M25";
NET "inIb[0]" LOC = "N25";
NET "inQb[1]" LOC = "K32";
NET "inQb[0]" LOC = "K31";
# RF control:
NET "inLD[1]" LOC = "M33";
NET "inLD[0]" LOC = "N33";
NET "outSCLK" LOC = "L31";
NET "outSDATA" LOC = "M31";
NET "outCSn[1]" LOC = "M26";
NET "outCSn[0]" LOC = "P34";
NET "inExtAntStat" LOC = "H32";
NET "inExtAntDetect" LOC = "K29";
NET "outExtAntEna" LOC = "G32";
# Gyroscope SPI interface
NET "inGyroSDI"  LOC = "A33";
NET "inGyroInt1" LOC = "E33"; 
NET "inGyroInt2" LOC = "D32";
NET "outGyroSDO" LOC = "B33";
NET "outGyroCSn" LOC = "D31";
NET "outGyroSPC" LOC = "C32";
# Accelerometer SPI interface
NET "inAccelerSDI"  LOC = "J29";
NET "inAccelerInt1" LOC = "H30"; 
NET "inAccelerInt2" LOC = "J31";
NET "outAccelerSDO" LOC = "K28";
NET "outAccelerCSn" LOC = "J32";
NET "outAccelerSPC" LOC = "J30";



# button "Center"
NET "inRst" LOC = G26;
NET "inRst" CLOCK_DEDICATED_ROUTE = "FALSE";
# button "North"
NET "inDsuBreak" LOC = A19;
NET "inDsuBreak" CLOCK_DEDICATED_ROUTE = "FALSE";

# DIP switch: SW1.1
NET "inDIP[0]" LOC = D22;
NET "inDIP[1]" LOC = C22;
NET "inDIP[2]" LOC = L21;
NET "inDIP[3]" LOC = L20;
NET "inDIP[4]" LOC = C18;
NET "inDIP[5]" LOC = B18;
NET "inDIP[6]" LOC = K22;
NET "inDIP[7]" LOC = K21;


#UART interface
NET "inCTS"  LOC = T23;
NET "inRX"   LOC = J24;
NET "outRTS" LOC = T24;
NET "outTX"  LOC = J25;


#/ User's LEDs:
NET "outLED[0]" LOC = AC22;
NET "outLED[1]" LOC = AC24;
NET "outLED[2]" LOC = AE22;
NET "outLED[3]" LOC = AE23;
#NET "outLED[4]" LOC = AB23;
#NET "outLED[5]" LOC = AG23;
#NET "outLED[6]" LOC = AE24;
#NET "outLED[7]" LOC = AD24;
