##############################################################################
# SP605 KIM's proj
##############################################################################
# Clocking and timing settings
NET "inSysClk_p" TNM_NET = TNM_SysClk;
TIMESPEC "TS_SysClk" = PERIOD "TNM_SysClk" 5 ns ;
NET  "inSysClk_p"   IOSTANDARD = LVDS_25;
NET  "inSysClk_n"   IOSTANDARD = LVDS_25;
NET  "inSysClk_p"   LOC = K21;
NET  "inSysClk_n"   LOC = K22;

##############################################################################
# button "Center"
NET "inRst" LOC = F3;
NET "inRst" CLOCK_DEDICATED_ROUTE = "FALSE";
# button "North"
NET "inDsuBreak" LOC = F5;
NET "inDsuBreak" CLOCK_DEDICATED_ROUTE = "FALSE";

##############################################################################
# DIP switch: SW1.1
NET "inDIP[0]" LOC = C18;
NET "inDIP[1]" LOC = Y6;
NET "inDIP[2]" LOC = W6;
NET "inDIP[3]" LOC = E4;

##############################################################################
#UART interface
NET "outRTS" LOC = F18;
NET "inCTS"  LOC = F19;
NET "outTX"  LOC = B21;
NET "inRX"   LOC = H17;

##############################################################################
#/ User's LEDs:
NET "outLED[0]" LOC = D17;
NET "outLED[1]" LOC = AB4;
NET "outLED[2]" LOC = D21;
NET "outLED[3]" LOC = W15;
